/*
Copyright 2024 - Professor Dale Millen, Shawn Eary and Utilars™

All content shown is created by Professor Dale Millen when he was
a resident faculty member at University of Arkansas (Fayetteville).
University of Arkansas (Fayetteville) is also known as UARK.

Professor Millen's content does not necessarily represent the positions
of UARK. Professor Millen does not necessarily endorse the oppinons
of Shawn Eary or Utilars™. Shawn Eary is a fan of Professor Millen.

Please be sure to check out the References.md file of this project
to see what tools Shawn Eary used to port Professor Millen's old
website to GitHub Pages
*/
div {
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
}